.container {
    display: flex;
    flex-direction: column;
    width: 900px;
    height: 900px;
    padding: auto;
    margin: auto;
}

.row {
    display: flex;
    flex: 1;
}

.box {
    flex: 1;
    background-color: lightcoral;
    margin: 0.5px;
}

.hovered {
    background-color: black;
}

.box:hover {
    background-color: yellowgreen;
}