* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    aspect-ratio: 1/1;
}

.row {
    display: flex;
    flex: 1;
}

.square {
    background-color: black;
    aspect-ratio: 1/1;
    flex: 1;
    margin: 1px;
    min-width: 2px;
    min-height: 2px;
}

.active {
    background-color: burlywood;
}